/**color- red #fb414e
***colour ****dark grey #202b2f*/

html {

    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 300% !important;
    padding-left: 2%;
    padding-right: 2%;

}

label {
    z-index: 1
}

nav {
    z-index: 1
}

#homepage {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.30)), to(rgba(0, 0, 0, 0.7))), url(pictures/background.jpg);

    background-size: cover;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;

}



.logo img {
    padding-left: 100px;
    position: relative;

    height: 150px;
    width: 150px;
    padding-top: 2%;
    -webkit-transition: 0.2s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.logo img:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.2);
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: pointer;
}

nav {
    float: right;

    list-style: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    position: relative;
    bottom: 105px;


}

.navbar a {
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 800
}





.navbar li:active {
    border-bottom: 2px solid #fb414e;

}

.navbar li:hover {
    border-bottom: 2px solid #fb414e;
    -webkit-transition: border 0.20s;
    transition: border 0.20s;
}

input[id=toggle] {
    display: none;

}

.navbar label {
    color: white;
    float: right;
    position: relative;
    bottom: 100px;
    margin: 0% 4%;
    font-size: 27px;
    display: none
}

/*home page middel section**/

.home-content {
    margin: auto;
    width: 60%;
    position: relative;
    bottom: 420px;
    color: white;
    text-align: center;
    overflow: hidden;


}

h1 {
    font-size: 300%;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.home-content p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    line-height: 25px;
    width: 70%;
    margin: auto;
}


.bnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px;
    height: 50px;

}

.bnt-full a {

    background-color: #fb414e;
    color: white;
    padding: 13px 40px;

    text-decoration: none;
    border: 1.4px solid transparent;
    margin-right: 20px;
}

.bnt-clean a {

    border: 1.4px solid #fb414e;
    color: white;
    padding: 13px 40px;
    text-decoration: none;
    margin-left: 20px;

}


.bnt-full a:hover {

    background-color: transparent;
    border-color: #fb414e;

}

.bnt-clean a:hover {
    background-color: #fb414e;
}




/**section below the home page***/

.middel_div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-right: 13%;
    margin-left: 14%;
    grid-gap: 20px;
    position: absolute;
    top: 77%
}

.col_span-1-of-3 {
    background-color: #fb414e;
    padding: 40px 45px;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80%;
    font-weight: 100;

}


#clear_box:hover {
    background-color: #fb414e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#full_box:hover {
    background-color: #202b2f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#clear_box {
    background-color: #202b2f;

}

#image_icon {
    height: 50px;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 900;
    font-size: 110%;
    width: 100%;
    padding-top: 10px
}

h3:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 50px;
    margin: 5 auto;
    margin-top: 20px;
}

/**section 3***/


h4 {
    color: #fb414e;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    font-size: 140%;
    text-align: center;
    margin-top: -4%;
    letter-spacing: 6px;
}


.middel_text h2 {
    display: inline-block;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 220%;
    letter-spacing: 6px;



}


.middel_title {
    width: 100%;
    text-align: center;

}

.hr4 {
    padding-left: 6px;
    color: #fb414e;


}

.middel_title_text {

    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    color: #b7b7b7;
    line-height: 1.5em
}




.middel_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 12%;
    margin-left: 12%;
    text-align: center;
    grid-gap: 20px;
    margin-top: 6%;
    margin-bottom: 6%
}




.middel_grid img {
    height: 50px;
}

.col_span-1-of-8 {


    padding: 20px 30px;
    border-radius: 10%;
}




.col_span-1-of-8 p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    color: #b7b7b7;
    color: black;
    line-height: 1.5em
}

h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 800;
    font-size: 110%;
    width: 100%;
    padding-top: 10px;
}



/**section 4***/

.middel_1 {

    margin-left: 5%;
    margin-right: 5%
}

.grid_middel_1 {
    display: grid;

    background-color: #202b2f;
    grid-template-columns: repeat(2, 2fr) !important;
    color: white;


}

.grid_1 {
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}


.grid_1 img {
    height: 300px;
    width: 200px;




}


#image_middel {
    padding-left: 4%
}

.grid_1 h2 {
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

.bnt-middel a {
    padding: 11px 40px;
    border: 2px solid white;
    text-decoration: none;
    color: white;

}

.bnt-middel a:hover {
    background-color: #fb414e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #fb414e;
}

.bnt-middel {
    padding-top: 50px;
}

.h2_edit {
    color: #fb414e;
    text-transform: uppercase
}

.grid_lower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px
}


/**section 5***/
.lower_middel {
    background-color: #f9f9f9;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%
}


.inner_grid_middel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;

}

.main_middel_grid h2 {
    font-size: 200%;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    bottom: 10px
}





h6 {
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 100%;


    letter-spacing: 1.2px;
}



/*****grid picture section***/

.middel-pictures li {
    list-style: none;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: lighter;
    margin-left: 60px;
    border-bottom: 2px solid transparent;
    font-size: 80%
}



.middel_navbar {
    text-align: center;
    padding-top: 7%;
    margin-bottom: 3%;


}


.middel-pictures li:active {
    border-bottom: 2px solid #fb414e;

}

.middel-pictures li:hover {
    border-bottom: 2px solid #fb414e;
    -webkit-transition: border 0.20s;
    transition: border 0.20s;



}


.grid_pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    height: 80%;
    width: 100%;
    margin: 0 50px!important;

}


.grid_pictures img {

    height: 90%;
    width: 90%;
max-height: 400px;
    max-width: 450px





}



.grid_middel_2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    color: black;
    margin-bottom: 5%;
}


.bnt-middel_2 a {
    padding: 11px 40px;
    border: 2px solid black;
    text-decoration: none;
    color: black;

}

.bnt-middel_2 {
    margin-top: 15%;
}

.bnt-middel_2 a:hover {
    background-color: #fb414e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #fb414e;
    color: white
}

.grid_middel_3 {


    background-color: #202b2f;
    grid-template-columns: repeat(2, 2fr);
    color: white
}

.inner_grid_middel_5 {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.inner_grid_middel_5 img {
    padding-top: 30%;
    width: 190px;
    height: 40px;
    margin-right: 3%
}

.inner_grid_5 {
    margin: 0
}



.frist_lower_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.lower_grd_image img {
    width: 100%;
    padding-left: 12.5%;
    margin-top: 4%
}

.lower_section {

    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
    background-color: #f9f9f9;
}

.inner_inner_grid img {
    height: 50px;
    margin-top: 20%
}

.innergrid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 46px
}

.frist_lower_grid h2 {
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.inner_inner_grid h6 {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 1%
}

.section_8 {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: center
}

.left_grid_right h2 {
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: right
}

.lower_buttom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

input[id=fullname] {
    width: 100%;
    height: 30px;
    padding-left: 10px
}


input[id=Companyname] {
    display: inline-block;
    float: left;
    padding-left: 10px;
    width: 45%;
    height: 30px;
}

input[id=email] {

    display: inline-block;
    float: right;
    padding-left: 10px;
    width: 45%;
    height: 30px;
    position: relative;
    top: -37px
}

select[id=serivce] {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    position: relative;
    bottom: 30px
}


textarea {
    font-size: 14px;
    width: 100%;
    padding-bottom: 200px;
    margin-bottom: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 10px;

}


input[type=submit] {
    font-size: 14px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;

    background-color: #fb414e;
    text-align: center;
    color: white
}

form {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}



input[type=submit]:hover {

    background-color: transparent;
    border-color: #fb414e;
    cursor: pointer;
    color: black;
}

/*****FOOTER****/
.grid_footer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

    grid-gap: 100px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
    padding-bottom: 1%
}

footer {
    background-color: #202b2f;
    color: white;


}

.bnt-clean input {
    background-color: black
}

.inner_foot_grid1 img {

    width: 150px;
    height: 150px;



}

.inner_foot_grid1 {
    float: left;
    text-align: left;


}

.contact_grid {
    position: relative;
    bottom: 14%
}

.inner_foot_grid1 i {
    padding-top: 100px;
    padding-right: 30px;
    color: #fb414e;
    font-size: 120%
}

.inner_foot_grid2 a {


    list-style: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;



}


.inner_foot_grid2 nav {
    margin-top: 150px
}

.terms_section {
    padding-top: 80px;
    float: right
}


.inner_foot_grid2 a {
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 800
}

.inner_foot_grid2 li {
    margin-right: 30px;
    display: inline-block;
    font-size: 90%;

}

.inner_foot_grid2 li:active {
    border-bottom: 2px solid #fb414e;

}

.inner_foot_grid2 li:hover {
    border-bottom: 2px solid #fb414e;
    -webkit-transition: border 0.20s;
    transition: border 0.20s;
}



input[id=email2] {

    width: 100%;
    height: 30px;
    margin-top: 15%
}


input[id=submit1] {

    width: 100%;
    height: 36px;
    background-color: #fb414e;
    color: white;
    border: 0;
    margin-top: 3%
}

.grid_footer2 h5 {
    font-weight: 200
}

.inner_foot_grid2 h5 {
    float: right
}


input[id=submit1]:hover {

    background-color: transparent;

    cursor: pointer;
    color: white;
    border: 2px solid #fb414e;
}


/*******serivce-PAGE****/




#serivcepage {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(pictures/serivce-background-image.jpg);

    background-size: cover;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;

}




.serivce_page {
    position: absolute;
    top: 14%;
    color: white;
    padding-left: 100px;
    margin-right: 40%;


}

.serivce-content h1 {
    font-size: 440%
}



/******second section***/
.serivce_grid_1 {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0% 5% 0% 0%;
    padding: 5% 0% 5% 0%;
}

.serivce_grid_1 p {
    font-size: 110%;
    font-weight: 100;
    line-height: 1.5em;
}

.serivce_grid_1 h5 {
    font-size: 210%;
}

.serivce_grid_1 img {
    height: 130px;
    margin: 90px 90px 90px 90px;
}







/*****second column****/
.second_section_grid {
    background-color: #f5f5f5;
}

.serivce_grid_second {
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0% 0% 0% 5%;
    padding: 5% 0% 5% 0%;
}

.serivce_grid_second p {
    font-size: 110%;
    font-weight: 100;
    line-height: 1.5em;
}

.serivce_grid_second h5 {
    font-size: 210%;
}

.serivce_grid_second img {
    height: 120px;
    margin: 90px 90px 90px 90px;
}



/***3rd section***/

.serivce_grid_third {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0% 5% 0% 0%;
    padding: 5% 0% 5% 0%;
}

.serivce_grid_third p {
    font-size: 110%;
    font-weight: 100;
    line-height: 1.5em;
}

.serivce_grid_third h5 {
    font-size: 210%
}

.serivce_grid_third img {
    height: 120px;
    margin: 90px 90px 90px 90px;
}





/****4th section - service_page***/
.fourth_section_grid {
    background-color: #f5f5f5;
}

.serivce_grid_fourth {
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0% 0% 0% 5%;
    padding: 5% 0% 5% 0%;
}

.serivce_grid_fourth p {
    font-size: 110%;
    font-weight: 100;
    line-height: 1.5em;
}

.serivce_grid_fourth h5 {
    font-size: 210%;
}

.serivce_grid_fourth img {
    height: 150px;
    margin: 90px 90px 90px 90px;
}







/*****worls page ****/

#workpage {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8))), url(pictures/yellow-backgroind.jpg);

    background-size: cover;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;

}


.main-work {
    margin: 10% 5% 10% 5%;
}



.grid_picturess {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;

}

.grid_picturess img {
    width: 100%;
    height: 100%;
}





/***conatct page ***/
.contact_header h1 {

    position: relative;
    bottom: 350px;
    color: white;
    padding-left: 7%;
    font-size: 300%
}

.lower_contact_section {
    background-color: #fb414e;
    height: 40vh;
    position: relative;
    bottom: 120px
}


#homepage_contact {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.30)), to(rgba(0, 0, 0, 0.7))), url(pictures/background.jpg);

    background-size: cover;
    height: 70vh;
    background-position: bottom;
    background-attachment: fixed;

}

.contact_page_lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: white
}

.contact_page_grid i {
    font-size: 500%;
    color: white;
    margin: 10% 0% 0% 0%
}


.contact_page_lower h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 170%
}
